.dr-dialog-container{
    display: flex;
}

.dr-dialog-content {
    display: none;
}

.dr-dialog-content-show {
    display: block;
    margin-left: 30px;
    border: 1px solid black;
    border-radius: 20px;
    position: absolute;
    background-color: white;
}