.container {
    border-radius: 30px;
    background-color: #F2ECEC;
    display: flex;
    width:100%;
    align-items: center;
}

.container:hover{
    cursor: text;
}

.icon {
    float: left;
    width: 8%;
    height: 8%;
}

.text-edited {
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.box {
    background-color: #F2ECEC;
    width: inherit;
    border: none;
    outline: none;
}

.box:focus {
    background-color: #F2ECEC;
    outline:none
}