.post-container {
    margin-top: 5px;
    border: 1px solid black;
    background-color: white;
    border-radius: 20px;
    padding: 10px 10px 0px 10px;
}

.post-owner{
    width: 100%;
}

.post-header{
    padding: 5px 10px 10px 10px;
    display: flex;
    text-align: center;
    width: 100%;
}

.post-header-menu {
    display: flex;
    justify-content: flex-end;
    width: 60%;
    align-items: center;
}

.post-owner-pic {
    float: left;
    margin: 10px;
    width: 40px;
    height: 40px;
}

.post-owner-name{
    font-weight: bold;
    margin-top: 15px;
    text-align: left;
}

.post-posted-at {
    position: absolute;
    margin-left: 0px;
    color: #646C65; 
    font-weight: bold;
    font-size: 10px;

    margin-top: -5px;
}

.post-actionButtons{
    display: flex;
}

.post-text {
    margin: 0px 20px 20px 20px;
    font-size: 14px;
}

.detailed-post-container {
    display: flex;
    margin-top: 5px;
    border: 1px solid black;
    background-color: white;
    border-radius: 20px;
    padding: 10px 10px 0px 10px;

    height: 500px;

}

.detailed-post-post-section{
    width: 100%;
}

.detailed-post-tags{
    margin-top: 15px;
}

.detailed-post-posted-at {
    position: absolute;
    margin-left: 0px;
    color: #646C65;
    font-weight: bold;
    font-size: 10px;
    margin-top: 5px;
}


.detailed-post-comments-section {
    padding: 20px;
    min-width: 45%;
}

.detailed-post-comments-container {
    overflow: hidden;
    overflow-y: auto;

    height: 85%;
}

.detailed-post-comment-input {
    display: flex;
    align-items: center;
    margin-top: 20px;
    border-top: 3px solid #ffd800;
    border-bottom: 2px solid black;
    padding: 5px 0px;
}

.detailed-post-comment-emoji{
    margin-right: 5px;
}

.detailed-post-comment{
    margin-bottom: 10px;
}

.detailed-post-header-saved {
    margin-right: 10px;
}