.post-container {
    margin-top: 5px;
    border: 1px solid black;
    background-color: white;
    border-radius: 20px;
    padding: 10px 10px 0px 10px;
}

.post-header{
    padding: 5px 10px 10px 10px;
    display: flex;
    text-align: center;
    width: 100%;
}

.post-header-menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
    justify-content: right;
    align-items: center;
}

.post-owner-pic {
    border: 1px solid black;
    border-radius: 100%;

    float: left;
    margin: 10px;
    width: 40px;
    height: 40px;
}

.post-owner-name{
    font-weight: bold;
    margin-top: 15px;
}

.post-posted-at {
    position: absolute;
    margin-left: 0px;
    color: #646C65; 
    font-weight: bold;
    font-size: 10px;

    margin-top: -5px;
}

.post-actionButtons{
    display: flex;
}

.post-text {
    margin: 0px 20px 20px 20px;
    font-size: 14px;
}