.project-container {
    background-color: white;
    padding: 20px;
    height: min-content;
}

.project-header {
    display: flex;
}

.project-header-text {
    font-weight: bold;
    font-size: 15px;
    margin-left: 5px;
}

.project-header-date{
    margin-left: 10px;
}

.project-header-middle{
    display:flex;
    align-items: baseline;
    margin-bottom: -10px;
}

.project-members-container{
    position: absolute;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 90px;
}

.project-link{
    margin-left: 10px;
    font-size: 12px;
}

.project-links-container {
    border: 1px solid black;
    border-radius: 20px;
    width: min-content;
    min-width: 40%;
    padding: 10px 10px;
    margin: 10px 0px 20px 40px;
}