.speedDial-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content
}

.speedDial-item {
    margin-bottom: 10px;
}

.open {
    display: inherit;
}

.close {
    display: none;
}