.tag-container {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 20px;
    width: fit-content;
    height: 25px;
    margin: 5px;
}

.tag-text{
    margin: 0px;
}