.tag-container {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-weight: bold;
    border-radius: 20px;
    width: fit-content;
}

.tag-text{
    margin: 0px;
}