.login-component {
    display: flex;
    justify-content: center;
}

.login-form {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    height: 450px;
    width: 400px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    padding: 40px;
}

.logo {
    position:absolute;
    width: 30%;
    left: 60%;
    transform: translate(0, -25%);
}

.animated-fadeIn {
    animation-name: fadeIn;
    animation-duration: 1s;
}

.animated-fadeOut {
    animation-name: fadeOut;
    animation-duration: 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

