.Login-component {
    display: flex;
    justify-content: center;
}

.Login-form {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    height: fit-content;
    width: 25%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    padding: 40px;
}

.background {
    width: 100%;
}

.header {
    display: flex;
    align-content: center;
    align-items: center;
}

.submit{
    margin-top: 20%;
}

.logo {
    position:absolute;
    width: 30%;
    left: 60%;
    transform: translate(0, -25%);
}