html, body, #root, #root > div {
    height: min-content;
    min-height: 100vh;
    margin: 0;
}

.menbers-container{

}

.box {
    margin-top: 30px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    height: min-content;
}

.toastContainer {
    position: fixed;
    left: 10px;
    bottom: 10px;
    z-index: 10;
}

.actionMenu {
    position: fixed;
    right: 70px;
    bottom: 60px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.dialog-container {
    position: fixed;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.page-body {
    height: 100%;
    width: 100%;
    min-height: 90vh;
}

.bold-gray-date {
    color: #646C65;
    font-weight: bold;
    font-size: 10px;
}

.description-container {
    margin: 20px 0px 20px 40px;
    line-height: 20px;
    font-size: 14px;
}

.create-multi-container {
    margin-top: 15px;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: revert;
    margin-bottom: revert;
}

.section-header-text {
    font-size: 12px;
    font-weight: bold;
    margin-top: revert;
    margin-bottom: revert;
}


.section-header{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 10px;
    height: 34px;
}

.center-horizontal {
    display: flex;
    justify-content: center;
}

.center-vertical {
    display: flex;
    align-items: center;
}

.flex {
    display: flex;
}


.header-container {
    display: flex;
}

.header-middle {
    margin-left: 10px;
    width: 100%;
}

.header-tags {
    display: flex;
    margin-left: -5px;
}

.header-actions {
    display: flex;
    justify-content: space-around;
    width: 100%;
    justify-content: right;
    align-items: center;
}

.header-text-container {
    display: flex;
}

.header-text {
    font-size: 15px;
    font-weight: bold;
    margin: 0px 10px 4px 0px;
}

.header-date {
    margin: 5px 0px 4px 0px;
    width: 100%;
}

.header-likes {
    display: flex;
    margin-left: 5px;
    margin-top: 0px;    
    margin-bottom: 0px;
}

.header-action {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.column{
    flex-direction: column;
}