.inputbar-container-m1 {
    border-radius: 30px;
    background-color: #F2ECEC;
    overflow: hidden;
    justify-content: space-around;
    width: 100%;
}

.inputbar {
    display: flex;
    align-items: center;
}

.inputbox-m1 {
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #F2ECEC;
    border: none;
    padding: 10px;
    width: 100%;
}

.inputbox-m1:focus {
    background-color: #F2ECEC;
    outline: none
}

.inputbox-m2 {
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
}

.inputbox-m2:focus {
    outline: none
}
