.twoLineItem-container {
    display: flex;
    margin-top: 5px;
}

.twoLineItem-container:hover {
    cursor: pointer;
}

.twoLineItem-container:active {
    background-color: rgba(0, 0, 0, .1);
}

.twoLineItem-texts {
    width: 100%;
}

.twoLineItem-header {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 0px;
}

.twoLineItem-text {
    font-size: 13px;
    margin-bottom: 0px;
}

.twoLineItem-sideNote {
    align-self: center;
    font-size: 10px;
}
